<form [formGroup]="frmGrad" (submit)="save()" class="regForm container">
    <div>
        <h1>Registration form</h1>
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control widInp" formControlName="name" autofocus>
            <p class="text-danger" *ngIf="frmGrad.controls.name.dirty && frmGrad.controls.name.errors?.required">Grad has no name</p>
            <p class="text-danger" *ngIf="frmGrad.controls.name.dirty && frmGrad.controls.name.errors?.minlength">Grad's name too short</p>
            <p class="text-danger" *ngIf="frmGrad.controls.name.dirty && frmGrad.controls.name.errors?.maxlength">Grad's name too long</p>
        </div>

        <div class="form-group">
            <label>Course:</label>
            <input type="text" class="form-control widInp" formControlName="course">
            <p class="text-danger" *ngIf="frmGrad.controls.course.dirty && frmGrad.controls.course?.errors">Grad needs Course</p>
        </div>

        <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control widInp" formControlName="email">
            <p class="text-danger" *ngIf="frmGrad.controls.email.dirty && frmGrad.controls.email?.errors">Grad needs Email</p>
        </div>

        <div class="form-group">
            <label>github:</label>
            <input type="url" class="form-control widInp" formControlName="github">
            <p class="text-danger" *ngIf="frmGrad.controls.github.dirty && frmGrad.controls.github?.errors">Grad needs github</p>
        </div>

        <div class="form-group">
            <label>linkedin:</label>
            <input type="url" class="form-control widInp" formControlName="linkedin">
            <p class="text-danger" *ngIf="frmGrad.controls.linkedin.dirty && frmGrad.controls.linkedin?.errors">Grad needs linkedin</p>
        </div>

        <div class="form-group">
            <label>facebook:</label>
            <input type="url" class="form-control widInp" formControlName="facebook">
            <p class="text-danger" *ngIf="frmGrad.controls.facebook.dirty && frmGrad.controls.facebook?.errors">Grad needs facebook</p>
        </div>

        <div class="form-group">
            <label>gallery:</label>
            <input type="url" class="form-control widInp" formControlName="gallery">
            <p class="text-danger" *ngIf="frmGrad.controls.gallery.dirty && frmGrad.controls.gallery?.errors">Grad needs gallery</p>
        </div>

        <div class="form-group">
            <label>details:</label>
            <textarea name="details" rows="10" cols="30" class="form-control widInp" formControlName="details">
      The cat was playing in the garden.
      </textarea>
            <p class="text-danger" *ngIf="frmGrad.controls.details.dirty && frmGrad.controls.details?.errors">Grad needs details</p>
        </div>

        <div class="form-group">
            <label>moto:</label>
            <input type="text" class="form-control widInp" formControlName="moto">
            <p class="text-danger" *ngIf="frmGrad.controls.moto.dirty && frmGrad.controls.moto?.errors">Grad needs moto</p>
        </div>

        Before:<input type="file" ng2FileSelect [uploader]="uploader"/>
        After:<input type="file" ng2FileSelect [uploader]="uploader"/>
        <button type="submit" class="btn btn-default">Submit</button>
        <button type="cancel" class="btn btn-default">Cancel</button>
        <button type="reset" class="btn btn-default">Reset</button>
    </div>
</form>
<!--[disabled]="!frmGrad.valid"-->


<!--<pre>
{{monsterToEdit | json}}

</pre>-->

<!--<upload-demo></upload-demo>-->