// p {
//     font-size: 6em ;
//     position: absolute ;
//     top: 50% ;
//     left: 50% ;    
// }
.chat{
    display: flex;
    justify-content:center;
    text-align:center;
    // max-width:500;
    
     .total{
     
                max-width:500px;
        .chatInput{
            &.chatNick{

            }
            &.chatMessage{
                width:500;
            }

        }
        .message{
            width:500px;
        }
     }
}